<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Notification.Properties.Settings>
            <setting name="StartWithSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="begin_hour" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="end_hour" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="end_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OA_URL" serializeAs="String">
                <value>http://web.oa.zulong.com</value>
            </setting>
            <setting name="begin_min" serializeAs="String">
                <value>55</value>
            </setting>
        </Notification.Properties.Settings>
    </userSettings>
</configuration>